<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="~{fragments::head}">
        <title th:text="${title}">Java House</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
    </head>


<link href="@{/css/all.css}" rel="stylesheet">
<link rel="shortcut icon" href="/images/favicon.ic" type="image/x-icon">
<link rel="apple-touch-icon" href="/images/apple">
<!-- Bootstrap CSS -->
<!-- Site CSS -->
<link rel="stylesheet" href="/css/style.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="/css/responsive.css">
<link rel="stylesheet" href="/images/all.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">


<!-- Custom CSS -->
<link rel="stylesheet" href="/css/custom.css">
<link rel="stylesheet" href="/css/auth.css">
<!-- Site Icons -->

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
<link rel="apple-touch-icon" th:href="@{/images/apple-touch-icon.png}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/fontawesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">

<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/bootsnav.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.select.css}">
<link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
<link rel="stylesheet" th:href="@{/css/carousel-ticker.css}">
<link rel="stylesheet" th:href="@{/css/code_animate.css}">
<link rel="stylesheet" th:href="@{/css/superslides.css}">
<link rel="stylesheet" th:href="@{/css/owl-carousel.min.css}">
<link rel="stylesheet" th:href="@{/css/baguetteBox.min.css}">
<link rel="stylesheet" th:href="@{/css/animate.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/responsive.css}">
<link rel="stylesheet" th:href="@{/css/custom.css}">
<body>
<!-- Start Main Top -->
<div th:replace="~{fragments::main-top}"></div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="~{fragments::main-header}"></header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments::top-search}">
</div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div th:replace="~{fragments::all-title-box}">
</div>
<!-- End All Title Box -->
<div class="mainDiv">
    <div class="cardStyle">
        <form th:action="@{/change-password}" method="post" name="signupForm" id="signupForm">
            <h2 class="formTitle">
                <i>Change Password</i>
            </h2>
            <div th:if = "${message}" class="text-center alert">
                <p th:text = "${message}"></p>
            </div>
            <div class="inputDiv">
                <label class="inputLabel" for="password"> Current Password * </label>
                <input type="password" id="password" name="oldPassword" required>
            </div>

            <div class="inputDiv">
                <label class="inputLabel" for="newpassword">New Password *</label>
                <input type="password" id="newpassword" name="newPassword" required>
            </div>

            <div class="inputDiv">
                <label class="inputLabel" for="confirmPassword">Confirm Password *</label>
                <input type="password" id="confirmPassword" name="repeatNewPassword">
            </div>

            <div class="buttonWrapper">
                <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
                    <span>Submit</span>
                </button>
            </div>
            <a class="text-center buttonWrapper btn btn-primary" th:href="@{/profile}">Return</a>

        </form>
    </div>
</div>


<!-- Start copyright  -->
<footer th:replace="~{fragments::footer}"></footer>

<!-- End copyright  -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<!-- ALL JS FILES -->
<div th:replace="~{fragments::script}"></div>
</body>

</html>