<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->
<head th:replace="~{fragments::head}">
    <title th:text="${title}">Sign In</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
   </head>

<link href="@{/css/all.css}" rel="stylesheet">
<link rel="shortcut icon" href="/images/favicon.ic" type="image/x-icon">
<link rel="apple-touch-icon" href="/images/apple">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- Site CSS -->
<link rel="stylesheet" href="/css/style.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="/css/responsive.css">
<link rel="stylesheet" href="/images/all.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="/css/custom.css">
<link rel="stylesheet" href="/css/auth.css">
<!-- Site Icons -->

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
<link rel="apple-touch-icon" th:href="@{/images/apple-touch-icon.png}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/fontawesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">

<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/bootsnav.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.select.css}">
<link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
<link rel="stylesheet" th:href="@{/css/carousel-ticker.css}">
<link rel="stylesheet" th:href="@{/css/code_animate.css}">
<link rel="stylesheet" th:href="@{/css/superslides.css}">
<link rel="stylesheet" th:href="@{/css/owl-carousel.min.css}">
<link rel="stylesheet" th:href="@{/css/baguetteBox.min.css}">
<link rel="stylesheet" th:href="@{/css/animate.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/responsive.css}">
<link rel="stylesheet" th:href="@{/css/custom.css}">
<body>
<!-- Start Main Top -->
<div th:replace="~{fragments::main-top}">

</div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="~{fragments::main-header}" >
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments::top-search}">
</div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div th:replace="~{fragments :: all-title-box}">
</div>
<!-- End All Title Box -->

<section id="login-form">
    <div class="noi-dung">
        <div class="form">
            <h2 style="text-align: center">SIGN IN</h2>
            <div th:if = "${param.error}" class="alert alert-danger text-center">
                Invalid username or password
            </div>
            <div th:if = "${param.logout}" class="alert alert-success text-center">
                You have been logged out!
            </div>
            <form th:action="@{/do-login}" method="post">
                <div class="input-form">
                    <input type="text" placeholder="Username or email address" name="username" required>
                </div>
                <div class="input-form">
                    <input type="password" placeholder="Password" name="password">
                </div>
                <div class="input-form">
                    <input type="submit" value="Sign In">
                </div>
                <div class="input-form">
                    <p>Do You Already Have An Account ? <a th:href="@{/register}">Sign up now  </a></p>
                </div>
            </form>

        </div>
    </div>

</section>

</section>
<!-- Start copyright  -->
<footer th:replace="~{fragments::footer1}">

</footer>

<!-- ALL JS FILES -->
<div th:replace="~{fragments::script}"></div>
</body>

</html>

